In [48]:
import pymysql
import pymongo

In [49]:
# Establece la conexión a tu base de datos MySQL
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='SoaD1725.',
    database='bd_final_mysql',
)

In [50]:
# Configura la conexión a MongoDB
mongo_client = pymongo.MongoClient('mongodb://localhost:27017')  
mongo_db = mongo_client['BD_Final'] 
mongo_collection = mongo_db['Charts']

In [51]:
table_name = 'musica'

# Consulta SQL para crear la tabla si no existe
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {table_name} (
    id INT AUTO_INCREMENT PRIMARY KEY,
    title VARCHAR(2000),  -- Ajusta la longitud según tus necesidades
    `rank` INT,
    date DATE,
    artist VARCHAR(2000),  -- Aumentamos la longitud de la columna 'artist'
    url VARCHAR(2000),
    region VARCHAR(2000),
    chart VARCHAR(2000),
    trend VARCHAR(2000),
    streams INT
)
"""

# Ejecuta la consulta SQL para crear la tabla
with connection.cursor() as cursor:
    cursor.execute(create_table_query)

In [52]:
# Recupera los datos de MongoDB y los inserta en MySQL
with connection.cursor() as cursor:
    count = 0  
    max_count = 15000000  

    for document in mongo_collection.find():
        if count >= max_count:
            break  
        title = document.get('title', '')[:2000]  
        rank = document.get('rank', 0) 
        date = document.get('date', None) 
        artist = document.get('artist', '')[:2000] 
        url = document.get('url', '')[:2000]  
        region = document.get('region', '')[:2000]  
        chart = document.get('chart', '')[:2000]
        trend = document.get('trend', '')[:2000]  
        streams = document.get('streams', 0) 

        # Consulta SQL para insertar un registro
        insert_query = f"""
        INSERT INTO {table_name} (title, `rank`, date, artist, url, region, chart, trend, streams)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
        """

        # Ejecuta la consulta SQL
        cursor.execute(insert_query, (title, rank, date, artist, url, region, chart, trend, streams))

        count += 1  # Incrementa el contador

TypeError: 'NoneType' object is not subscriptable

In [53]:
# Confirma los cambios en la base de datos
connection.commit()

# Cierra la conexión a la base de datos
connection.close()

print("Proceso completado. Todos los datos han sido insertados en la base de datos MySQL.")

Proceso completado. Todos los datos han sido insertados en la base de datos MySQL.

# EVENTOS DEPORTIVOS

In [54]:
import pymongo
import mysql.connector

# Conexión a MongoDB
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/")  
mongo_db = mongo_client["BD_Final"]
mongo_collection = mongo_db["EventosDeportivos"]

# Conexión a MySQL
mysql_connection = mysql.connector.connect(
    host="localhost",  
    user="root",
    password="SoaD1725.",
    database="bd_final_mysql"
)
mysql_cursor = mysql_connection.cursor()

In [55]:
# Crear la tabla si no existe
mysql_cursor.execute("""
    CREATE TABLE IF NOT EXISTS eventosdeportivosdb (
        ID INT,
        Name VARCHAR(255),
        Sex CHAR(1),
        Age VARCHAR(255),  
        Height VARCHAR(255),  
        Weight VARCHAR(255),  
        Team VARCHAR(255),
        NOC CHAR(3),
        Games VARCHAR(255),
        Year INT,
        Season VARCHAR(255),
        City VARCHAR(255),
        Sport VARCHAR(255),
        Event VARCHAR(255),
        Medal VARCHAR(255)
    )
""")

In [56]:
# Iterar a través de los documentos MongoDB y transferirlos a MySQL
for document in mongo_collection.find():
    # Insertar datos en MySQL
    query = """
        INSERT INTO eventosdeportivosdb (ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, Medal)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        int(document["ID"]),
        document["Name"],
        document["Sex"],
        document["Age"],  
        document["Height"],  
        document["Weight"],  
        document["Team"],
        document["NOC"],
        document["Games"],
        int(document["Year"]),
        document["Season"],
        document["City"],
        document["Sport"],
        document["Event"],
        document["Medal"]
    )
    mysql_cursor.execute(query, values)

# Confirmar los cambios en MySQL
mysql_connection.commit()

In [57]:
# Cerrar conexiones
mongo_client.close()
mysql_cursor.close()
mysql_connection.close()

# NEWS

In [22]:
import pymongo
import mysql.connector

# Conexión a MongoDB
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/") 
mongo_db = mongo_client["BD_Final"]
mongo_collection = mongo_db["News"]

# Conexión a MySQL
mysql_connection = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="SoaD1725.",
    database="bd_final_mysql"
)
mysql_cursor = mysql_connection.cursor()

# Crear una nueva tabla en MySQL para los datos adicionales
mysql_cursor.execute("""
    CREATE TABLE IF NOT EXISTS News (
        _id VARCHAR(255) PRIMARY KEY,
        publish_date DATE,
        headline_text TEXT
    )
""")

# Iterar a través de los documentos MongoDB y transferirlos a la nueva tabla en MySQL
for document in mongo_collection.find():
    # Insertar datos en la nueva tabla de MySQL
    query = """
        INSERT INTO News (_id, publish_date, headline_text)
        VALUES (%s, %s, %s)
    """
    values = (
        str(document["_id"]),
        document["publish_date"],
        document["headline_text"]
    )
    mysql_cursor.execute(query, values)

In [23]:
# Confirmar los cambios en MySQL
mysql_connection.commit()

# Cerrar conexiones
mongo_client.close()
mysql_cursor.close()
mysql_connection.close()

In [28]:
import pymongo
import mysql.connector

# Conexión a MongoDB
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/") 
mongo_db = mongo_client["BD_Final"]
mongo_collection = mongo_db["newsv3"]

# Conexión a MySQL
mysql_connection = mysql.connector.connect(
    host="localhost", 
    user="root",
    password="SoaD1725.",
    database="bd_final_mysql"
)
mysql_cursor = mysql_connection.cursor()

# Crear una nueva tabla en MySQL para los datos adicionales con columnas más grandes
mysql_cursor.execute("""
    CREATE TABLE IF NOT EXISTS newsv3 (
        _id VARCHAR(255) PRIMARY KEY,
        link VARCHAR(2000),  # Aumentamos la longitud de la columna 'link'
        headline VARCHAR(2000),  # Aumentamos la longitud de la columna 'headline'
        category VARCHAR(500),  # Aumentamos la longitud de la columna 'category'
        short_description TEXT,
        authors VARCHAR(500),  # Aumentamos la longitud de la columna 'authors'
        date DATE
    )
""")

# Iterar a través de los documentos MongoDB y transferirlos a la nueva tabla en MySQL
for document in mongo_collection.find():
    # Recortar el valor de 'link' y 'headline' si son demasiado largos
    link = document["link"][:2000]
    headline = document["headline"][:2000]
    category = document["category"][:500]
    authors = document["authors"][:500]

    # Insertar datos en la nueva tabla de MySQL
    query = """
        INSERT INTO newsv3 (_id, link, headline, category, short_description, authors, date)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
    """
    values = (
        str(document["_id"]),
        link,
        headline,
        category,
        document["short_description"],
        authors,
        document["date"]
    )
    mysql_cursor.execute(query, values)

# Confirmar los cambios en MySQL
mysql_connection.commit()

In [29]:
# Confirmar los cambios en MySQL
mysql_connection.commit()

# Cerrar conexiones
mongo_client.close()
mysql_cursor.close()
mysql_connection.close()

# Accidentes

In [67]:
import pymongo
import mysql.connector
import datetime

# Conexión a MongoDB
mongo_client = pymongo.MongoClient("mongodb://localhost:27017/") 
mongo_db = mongo_client["BD_Final"]
mongo_collection = mongo_db["Accidentes"]

# Conexión a MySQL
mysql_connection = mysql.connector.connect(
    host="localhost",  
    user="root",
    password="SoaD1725.",
    database="bd_final_mysql"
)
mysql_cursor = mysql_connection.cursor()

# Crear una nueva tabla en MySQL para los datos adicionales con columnas más grandes
mysql_cursor.execute("""
    CREATE TABLE IF NOT EXISTS accidentes (
        _id VARCHAR(255) PRIMARY KEY,
        gender VARCHAR(500),
        marital_status VARCHAR(500),
        accident_condition VARCHAR(500),  # Utilizar comillas inversas para 'condition'
        date_of_death DATE,
        accident_type VARCHAR(500),
        accident_date DATE,
        canton VARCHAR(500),
        province VARCHAR(500),
        creation_date DATE
    )
""")

# Iterar a través de los documentos MongoDB y transferirlos a la nueva tabla en MySQL
batch_size = 100  # Número de registros a insertar en cada lote

data_to_insert = []
for document in mongo_collection.find():
    # Mapear las claves del JSON a los nombres de columna en MySQL
    gender = document.get("Género de la víctima", "")[:500]
    marital_status = document.get("Estado Civil de la víctima", "")[:500]
    accident_condition = document.get("Condición", "")[:500]

    date_of_death_str = document.get("Fecha de muerte Víctima", "")
    try:
        date_of_death = datetime.datetime.strptime(date_of_death_str, "%Y/%m/%d").date()
    except ValueError:
        date_of_death = None

    accident_type = document.get("Tipo de accidente", "")[:500]

    accident_date_str = document.get("Fecha Siniestro", "")
    try:
        accident_date = datetime.datetime.strptime(accident_date_str, "%Y/%m/%d").date()
    except ValueError:
        accident_date = None

    canton = document.get("Cantón", "")[:500]
    province = document.get("Provincia", "")[:500]

    creation_date_str = document.get("Fecha de creación de Protección de Fallecidos", "")
    try:
        creation_date = datetime.datetime.strptime(creation_date_str, "%Y/%m/%d").date()
    except ValueError:
        creation_date = None

    # Agregar datos al lote
    data_to_insert.append((
        str(document["No."]),
        gender,
        marital_status,
        accident_condition,
        date_of_death,
        accident_type,
        accident_date,
        canton,
        province,
        creation_date
    ))

    # Insertar lotes de datos en MySQL
    if len(data_to_insert) >= batch_size:
        query = """
            INSERT INTO accidentes (_id, gender, marital_status, accident_condition, date_of_death, accident_type, accident_date, canton, province, creation_date)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        """
        mysql_cursor.executemany(query, data_to_insert)
        mysql_connection.commit()
        data_to_insert = []

# Insertar los registros restantes en el último lote
if data_to_insert:
    query = """
        INSERT INTO accidentes (_id, gender, marital_status, accident_condition, date_of_death, accident_type, accident_date, canton, province, creation_date)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    mysql_cursor.executemany(query, data_to_insert)
    mysql_connection.commit()

# Cerrar conexiones
mysql_cursor.close()
mysql_connection.close()
mongo_client.close()